include base.pug
block content
    h1 change-password
    form(method="post")
        input(placeholder="Old Password", type="password",name="oldPassword")
        input(placeholder="New Passwrod", type="password",name="newPassword")
        input(placeholder="New Password Confirmation", name="newPasswordConfirmation")
        input(type="submit", value="ChangePassword")